<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    

    {% include "admin/admin_header.html" %}


    <div class="w-full px-[10%] py-10">
        <div class="grid grid-cols-4 gap-10">
            <div class="bg-teal-600 text-white px-5 py-5 rounded shadow">
                <h1 class="text-5xl">{{genre}}</h1>
                <h2>Total Genre</h2>
            </div>

            <div class="bg-teal-600 text-white px-5 py-5 rounded shadow">
                <h1 class="text-5xl">{{books}}</h1>
                <h2>Total Books</h2>
            </div>

        </div>
    </div>

</body>
</html>