<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    

    {% include "admin/admin_header.html" %}


    <div class="w-full px-[10%] py-10 bg-slate-100  flex">
        
        <table class="border w-full">
            <thead>
                <tr>
                    <th class="border p-3">ID</th>
                    <th class="border p-3">Title</th>
                    <th class="border p-3">Author</th>
                    <th class="border p-3">NOP</th>
                    <th class="border p-3">ISBN</th>
                    <th class="border p-3">Genre</th>
                    <th class="border p-3">Publish year</th>
                    <th class="border p-3">Cover Image</th>
                    <th class="border p-3">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for b in books %}
                <tr>
                    <td class="border p-3">{{b.id}}</td>
                    <td class="border p-3">{{b.title}}</td>
                    <td class="border p-3">{{b.author}}</td>
                    <td class="border p-3">{{b.nop}}</td>
                    <td class="border p-3">{{b.isbn}}</td>
                    <td class="border p-3">{{b.genre}}</td>
                    <td class="border p-3">{{b.publish_year}}</td>
                    <td class="border p-3">
                        <img src="{{b.cover_image.url}}" class="w-28 h-40" alt="">
                    </td>
                    <td class="flex gap-2 py-5">
                        <a href="{% url 'edit_book' b.id %}" class="bg-sky-500 text-white px-2 py-1 text-sm rounded hover:bg-sky-700">Edit</a>

                        <a href="{% url 'delete_book' b.id %}" class="bg-red-500 text-white px-2 py-1 text-sm rounded hover:bg-red-700">X</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</body>
</html>